/* Center the main header */
h1 {
    text-align: center;
}

/* Centered formatting */
#centered {
    text-align: center;
    
    /* Limit the width */
    max-width: 600px;
    
    /* Center the text box */
    margin: 20px auto;
}

.profile-pic {
    width: 250px;           /* Image size */
    height: 250px;          
    object-fit: cover;      /* Fix aspect ratio */
    margin-bottom: 5px;    /* Adds space after photo */
}

.stuart-tier {
    height: 500px;          /* Image size */
    object-fit: cover;      /* Fix aspect ratio */
}